*{
	margin: 0px;
	padding: 0px;
}
#banner{
	background-image: url(../Img/mr.robot-banner.jpg);
	height: 200px;
	width: 100%;
	background-size: 100% 200px;
}
nav{
	border-bottom: 1px solid black;
	padding-top:15px;
	padding-bottom:15px;
	width:100%
}
nav ul{
	text-align: center;
}
nav li{
	list-style-type: none;
	display: inline;
	margin: 15px;
}
a{
	color: black;
	text-decoration: none;
	cursor: pointer;
}
#nagusia{
	text-align: center;
	background-color: #9ea3a0;
	width:100%;
	height:auto;
	padding-bottom:58px;
}
#nagusia section{
	text-align: justify;
	float: left;
	width: 45%;
	font-size: 20px;
	margin-left:10%;
	height:240px;
}
#nagusia section h1{
	text-align:center;
}
#nagusia aside{
	width: 15%;
	text-align: center;
	display: inline-block;
	margin-left: 15%;
	border:1px solid black;
	border-radius: 25px;
	padding:15px;
	background-color: white;
}
#seasons{
	text-align: center;
	background-color: #9ea3a0;
	width:100%;
	height:420px;
}
.season{
	text-align: center;
	float:left;
	width:33.3%;
}
.seasonTitle {
	padding:5px;
	background-color:#e6e6e6;
	font-family:helvetica;
	font-size:16px;
	font-weight:bold;
}
.episodes{
	float:left;
	clear:both;
	border:2px solid #e6e6e6;
	width:99%;
	overflow:auto;
	font-family:helvetica;
	font-size:14px;
	text-align: left;
	display: none;
	background-color: white;
}
.episodes li{
	text-align: center;
	display: block;
	list-style-type: none;
	margin: 14px;
}
table{
	margin-left: 25%;
	width: 50%;
	text-align: center;
	border-collapse: collapse;
}
td{
	padding:15px;
}
#merch{
	margin-left:12%;
	width:50%;
	text-align: center;
	border-collapse: collapse;
}
#videos{
	margin-left: 17%;
	width:50%;
	text-align:center;
	border-collapse: collapse;
}
#cast img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
}
#rami{
	background-image: url(../Img/rami.jpg);
}
#chris{
	background-image: url(../Img/chris.jpg);
}
#carly{
	background-image: url(../Img/carly.jpg);
}
#portia{
	background-image: url(../Img/portia.jpg);
}
#merch img{
	width: 200px;
	height: 200px;
	background-size: 200px 200px;
}
#merch1{
	background-image: url(../Img/merch1.png);
}
#merch2{
	background-image: url(../Img/merch2.jpg);
}
#merch3{
	background-image: url(../Img/merch3.jpg);
}
#merch4{
	background-image: url(../Img/merch4.jpg);
}
#merch5{
	background-image: url(../Img/merch5.jpg);
}
#merch6{
	background-image: url(../Img/merch6.jpg);
}
footer{
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
	border-top: 1px solid black;
	float:left;
}